.dropdown-menu {
  width: 150px;
  position: absolute;
  top: 72px;
  list-style: none;
  text-align: center;
}

.dropdown-menu li {
  background: #c62cd4;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background: #bd79c4;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 60%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding-bottom: 20px;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
}
