.description-textarea {
  width: 100%;
  min-height: 100px;
}

.label-product {
  display: inline-block;
}

.checkbox{
  height: 20px;
  margin: 0;
  padding: 0;
  right: 70px;
  top: -20px;
}

.label-product {
  width: 100%;
}

.btn-product-group {
  display: flex;
  justify-content: space-around;
}

.btn-product {
  width: 120px;
  height: 40px;
  border-radius: 20px;
  background: #9833cc;
  border: 1px solid black;
  transition: 0.3s;
  color: white;
  font-size: 18px;
}

.btn-product:hover {
  background: #56057e;
}

.select-product {
  height: 25px;
  margin: 5px;
  width: 100%;
}

.product-form {
  margin: 10px;
}

.flex-product {
  display: flex;
  justify-content: space-around;
}

.input-product-group {
  padding-left: 25px;
}

