.with-gap {
  display: inline-block;
  min-width: 1em;
  width: 5%;
  margin-bottom: 0;
  left: 16px;
  top: -3px;
}

.label {
  display: block;
  margin-left: 25px;
  font-size: 15px;
}

.filter_first {
  font-size: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.filter_second {
  font-size: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.filter_third {
  font-size: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.filter_fourth {
  font-size: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.filter_title {
  text-align: center;
  font-size: 20px;
  margin: 5px 10px;
  border-bottom: 2px solid #9833cc;
}
