.grid_product {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: auto;
  justify-content: center;
  column-gap: 50px;
  row-gap: 30px;
  padding: 60px 50px 100px;
}

.search-grid {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 5;
}

.sidebar {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: #cfa4d9;
  border: 3px solid black;
  border-radius: 10px;
}

/*.sidebar {*/
/*  background-color: #cfa4d9;*/
/*  height: 100%;*/
/*}*/

/*.flex-wrapper {*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*}*/
