.grid_product {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: auto;
  justify-content: center;
  column-gap: 50px;
  row-gap: 30px;
  padding: 60px 50px 100px;
}

.search-grid {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 5;
}

.sidebar {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
  /*background-color: #cfa4d9;*/
  /*border: 3px solid black;*/
  /*border-radius: 10px;*/
}

.create-card {
  /*grid-row-start: 1;*/
  /*grid-row-end: 2;*/
  /*grid-column-start: 4;*/
  /*grid-column-end: 5;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-create-card {
  width: 120px;
  height: 40px;
  border-radius: 20px;
  background: #9833cc;
  border: 1px solid black;
  margin-top: 20px;
  transition: 0.3s;
  bottom: 100px;
  color: white;
  font-size: 18px;
}

.btn-create-card:hover {
  background: #56057e;
}
/*.sidebar {*/
/*  background-color: #cfa4d9;*/
/*  height: 100%;*/
/*}*/

/*.flex-wrapper {*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*}*/
